#divider {
    position: relative;

    &::before,
    &::after {
        content: '';
        position: absolute;
        display: block;
        height: .05px;
        background-color: hsl(193, 38%, 86%);
        width: 45%;
    }

    &::before {
        top: 50%;
        left: 0;
    }

    &::after {
        top: 50%;
        right: 0;
    }

}

#genBtn {
    transition: all .2s ease-in-out;
    left: 43.2%;
    bottom: -3rem;
    transform: translate(0%, -50%);

    &:hover {
        -webkit-box-shadow: 2px 2px 27px 6px rgba(82,255,168,0.88);
        -moz-box-shadow: 2px 2px 27px 6px rgba(82,255,168,0.88);
        box-shadow: 2px 2px 27px 6px rgba(82,255,168,0.88);
    }
}